<html>
<head>
    <title>Accountss - <%= result[0].email %></title>
</head>
<body>
    <h1>Address</h1>
    <ul>
        <li>Account ID: <%= result[0].address_id%></li>
        <li>Email: <%= result[0].email %></li>
        <li>First Name: <%= result[0].first_name %></li>
        <li>Last Name: <%= result[0].last_name%></li>
    </ul>
</body>

</html>