<html>
<head>
    <title>Account - <%= result[0].first_name %> <%= result[0].last_name %></title>
</head>
<body>
    <h1>Account Information</h1>
    <ul>
        <li>Account ID: <%= result[0].account_id%></li>
        <li>Email: <%= result[0].email %></li>
        <li>Name: <%= result[0].first_name %> <%= result[0].last_name %></li>
    </ul>
    <a href="/account/all">Back to View All Accounts</a>
    <br />
    <a href="/">Back to Main Page</a>
</body>

</html>