<!--<html>
<head>
    <title>Companies - <%= result[0].company_id %></title>
</head>
<body>
    <h1>Companies</h1>
    <ul>
        <li>Company ID: <%= result[0].company_id%></li>
        <li>Company Name: <%= result[0].company_name %></li>
    </ul>
    <a href="/company/all">Back to View All Companies</a>
    <br />
    <a href="/">Back to Main Page</a>
</body>

</html>-->

<!-- Lab12-->


<%- include("../includes/header.ejs", {title:"Companies - " + result[0].company_name}); %>
<h1>Companies</h1>
<ul>
    <li>Company Name: <%= result[0].company_name %></li>
    <li>Address(es):
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].street + ', ' + result[i].zip_code %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/company/all"><< back</a>

<%- include("../includes/footer.ejs"); %>
